

body{
    background-color: #f7f3f5;
}

.frame{
    margin: 30px 150px;
    display: flex;
    flex-direction: column;
}


.navigator{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


li{
    display: inline;
    align-self: center;
    margin: 0;
    margin-left: 15px;
}

ul{
    margin: 0;
}

.site-name{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 800;
    color: #d4a69d;
}

.nav-menu{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    color: #687477;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: white;
    transition: 0.3s;
}


.dashboard{
    margin-top: 130px;
    color: #b48f89;
}

.English-comment{
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: 600;
    text-align: left;
}

.sample{
    color: #403234;
}
.type2{
    color: #403234;
}
.sample:hover
{
    background-color:  #b1c1c5;
}


.type2:hover{
    background-color:  #b1c1c5;
}

.Korean-comment{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
    font-size: 15px;
    font-style: italic;

    letter-spacing: -0.3px;
}

.recent-menu{
    font-family: 'Montserrat', sans-serif;
}


/*info*/

/*profile-section*/
.profile-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 100px 100px;
}

#profile-picture{
    width: 400px;
    margin-right: 60px;
}

.introduction>h2{
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
}

.introduction>p{
    font-family: 'Noto Sans Korea', sans-serif;
    font-weight: 550;
    font-size: 18px;
    color: #413b37;
    margin-bottom: 40px;
}

/*mbti*/

.mbti-menu{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    margin: 80px 90px;
    margin-bottom: 20px;
    padding-left: 80px;
}

.mbti-name{
    padding-right: 850px;
}

.mbti-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 100px 150px;
    margin-top: 20px;
}

.mbti{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    align-items: center;
}

.mbti-icon{
    width: 300px;
    height: 300px;
    padding: 5px;
    border: 5px solid #687477;
    border-radius: 100px;
    margin-right: 50px;
}

.mbti-intro{
    width: 6000px;
}


.mbti-name{
    margin-left: 60px;
}
.mbti-text{
    font-size: 18px;
    font-family: 'Noto Sans Korea', sans-serif;
    font-weight: 550;
    color: #413b37;
    margin: 25px 50px;
    margin-right: 0;
}


/*Home*/



/*footer*/


.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 60px;
}

#Home-picture{
    width: 100%;
    height: 500px;
    margin-top: 300px;
}

.contact{
    margin: 100px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #413b37;
    margin-bottom: 20px;
    border-bottom: 2px solid #413b37;
}

.links>a{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin-left: 15px;
}

.footer>p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 25px;
    font-style: italic;
    margin: 0;
    margin-top: 5px;

}

/*favorites*/

h1 {
    text-align: center;
}

.lists{
    text-align: center;
    font-family: 'Noto Sans Korea', sans-serif;
    display: block;
    text-align: center;
    font-weight: 500;
    font-family: 'Noto Sans Korea', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    font-style: italic;
}

.list_img {
    width: 300px;
    height: 300px;
    display: block;
    margin: 7vh 5vh;
    margin-bottom: 50px;
}

.favorites {
    display:inline-flex;
    margin-top: 60px;
}

.danbi{
    font-family: 'Noto Sans Korea', sans-serif;
    font-size: 17px;
    margin-left: 55px;
    color: #b48f89;
}



.video-container {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.IU{
    font-family: 'Noto Sans Korea', sans-serif;
    font-size: 17px;
    margin-left: 55px;
    color: #b48f89;
}

.movie{
    margin-top: 900px;
}

.post{
    text-align: center;
    font-family: 'Noto Sans Korea', sans-serif;
    display: block;
    text-align: center;
    font-weight: 800;
    font-family: 'Noto Sans Korea', sans-serif;
    font-size: 22px;
    line-height: 1;
    font-style: italic;
}

.post_img {
    width: 300px;
    height: 500px;
    display: block;
    margin: 7vh 5vh;
    margin-bottom: 50px;
}

.favorites2 {
    display:inline-flex;
    margin-top: 60px;
}

.Movie-story{
    text-align: left;
    font-family: 'Noto Sans Korea', sans-serif;
    font-size: 17px;
    font-weight: 500px;
    color: #413b37;
}